<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button href="/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Ejercicio 7</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label>Pesetas</ion-label>
        <ion-input [(ngModel)]="pesetas" (ionChange)="cambioPesetas()">{{pesetas}}</ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Euros</ion-label>
          <ion-input [(ngModel)]="euros" (ionChange)="cambioEuros()">{{euros}}</ion-input>
        </ion-item>
</ion-content>