<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button href="/home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Ejercicio 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button color="primary" expand="full" *ngIf="muestraBotonNombre" (click)="muestra()">MUESTRA NOMBRE</ion-button>
  <ion-button color="primary" expand="full" *ngIf="!muestraBotonNombre" (click)="esconde()">LIMPIA NOMBRE</ion-button>
  <ion-grid>
      <ion-row>
        <ion-col size="12" class="display">
          {{ display }}
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
